    body{
        background-color: rgb(45, 164, 243);
    }
    hr{
        border-style: none;
        border-top-style:dotted;
        border-color: grey;
        border-width: 5px;
        width: 5% ;     
    }
    h1{
        color: aqua;
    }
    h2{
        color: aqua;
    }
    h3  {
        color: aqua;
    }
  
